@page
@model SMS.WebApp.Host.Pages.Teacher.IndexModel
@{
}
<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="btn">
        <i class="fa-solid fa-plus"></i> Add
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">D.O.B.</th>
                <th scope="col">Subject</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TeacherList.Count > 0)
            {
                @foreach (var item in Model.TeacherList)
                {
                    <tr>
                        <td class="hidden">@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Gender</td>
                        <td>@item.DOB</td>
                        <td>@item.Subject</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>
                            <button asp-route-id="@item.Id" class="transparentButton">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="submit"  class="transparentButton" asp-route-id="@item.Id">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">
                        No data.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <!-- Modal -->
    <div class="modal fade" id="teacherCreateUpdate" tabindex="-1" aria-labelledby="teacherCreateUpdate" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page="/Teacher/Index">
                        <div class="row g-3 form-space">
                            <div class="col">
                                <input type="text" class="form-control" asp-for="@Model.TeacherVM.FirstName" class="firstName form-control" placeholder="First name" aria-label="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" asp-for="@Model.TeacherVM.LastName" placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                        <div class="row g-3 form-space">
                            <div class="col">
                                <input type="date" asp-for="@Model.TeacherVM.DOB" class="form-control" placeholder="D.O.B." aria-label="DateOfBirth">
                            </div>
                            <div class="col">
                                <select class="form-select" asp-for="@Model.TeacherVM.Gender" aria-label="Gender">
                                    <option selected>Select Gender</option>
                                    @{
                                        if (Model.GenderList.Count > 0)
                                        {
                                            foreach (var item in Model.GenderList)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 form-space">
                            <div class="col">
                                <input type="text" asp-for="@Model.TeacherVM.Subject" class="subject form-control" placeholder="Subject" aria-label="Subject">
                            </div>
                            <div class="col">
                                <input type="email" class="form-control" asp-for="@Model.TeacherVM.Email" placeholder="Email" aria-label="Email">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" asp-for="@Model.TeacherVM.Phone" placeholder="Phone" aria-label="Phone">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#btn").click(function () {
            $("#teacherCreateUpdate").modal('show');
        });
    </script>
}