@page
@model SMS.WebApp.Host.Pages.Course.IndexModel
@{
}
<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="addbtn" data-bs-target="#createModal">
        <i class="fa-solid fa-plus"></i> Add
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Teacher Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CourseList != null)
            {
                @foreach (var item in Model.CourseList)
                {
                    <tr>
                        <td class="hidden">@item.Id</td>
                        <td>@item.CourseName</td>
                        <td>@item.TeacherFullName</td>
                        <td>
@*                            <button id="updateCourse" onclick="UpdateCourse('@item.Id')" class="transparentButton">
                                <i class="fa-solid fa-pencil"></i>
                            </button>*@
                            <button class="transparentButton" data-bs-toggle="modal" onclick="UpdateCourse('@item.Id')" id="updatebtn" data-bs-target="#updateModal">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <a asp-page="/Course/Index" asp-route-id="@item.Id" class="deleteButton" asp-page-handler="DeleteCourse" role="button">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">
                        No data.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*Create Modal*@
    <div class="modal fade" tabindex="-1" aria-labelledby="teacherCreateUpdate" id="createModal" aria-hidden="true">
        <div class="modal-dialog">
        </div>
    </div>
    @*Update Modal*@
    <div class="modal fade" tabindex="-1" aria-labelledby="teacherCreateUpdate" id="updateModal" aria-hidden="true">
        <div class="modal-dialog">
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $('#addbtn').click(function() {
            $('#createModal').load('?handler=CreateCourse')
        })
        function UpdateCourse(courseId) {
            $('#updateModal').load('?handler=UpdateCourse&id=' + courseId)
        }
    </script>
}